/* stylesheet for website*/
        .item1 {grid-area:header;}
        .item2 {grid-area:menu;}
        .item3 {grid-area:main;}
        .item4 {grid-area:right;}
        .item5 {grid-area:footer;}
        .item6  {grid-area:hero;}
        .item7 {grid-area: call;}
        
        .grid-container{
            display: grid;
            grid-template-areas: 
                'menu menu menu menu menu menu'
                'header header header header call call'
                'hero hero hero hero hero hero'
                'main main main main main right'
                'footer footer footer footer footer footer';
            grid-gap: 10px;
            background-color: mediumaquamarine;
            padding: 10px;
        }
        
        .grid-container >div{
            background-color: rgba(255,255,255,0.8);
            text-align: center;
            padding: 20px 0;
            font-size: 30px;
        }
h1, h2{
	color: darkorange;
}
h1{
	font-size: 1em;
}
h2{
	font-size: .6em;
}
p{
	font-size: .5em;
	font-weight: normal;
	text-align: start;
	padding: 10px;
	margin: 30px;
}
img{
	max-width: 100%;
	height: auto;
}
/* Navigation starts here */
#navbar{
    display: grid;
    min-height: 100px;
    grid-auto-flow: column;
    background-color: gainsboro;
    grid-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#links{
    display: grid;
    justify-content: end;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 20px;
    font-size: 1em;
}
 a{
    text-decoration: none;
    color: #c19434;
}
 
a:hover{
    color: black;
}

@media (max-width:500px){
    #navbar{
        display: grid;
        min-height: 100px;
        grid-auto-flow: row;
        background-color: gainsboro;
        grid-gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #links{
        display: grid;
        justify-content: space-around;
        align-content: center;
        grid-auto-flow: row;
        padding-bottom: 40px;
    }
    
    .grid-container{
		display: grid;
		grid-template-areas: 
			'hero hero hero hero hero hero'
			'call call call call call call'
			'menu menu menu menu menu menu'
			'header header header header header header'
			'main main main main main main'
			'right right right right right right'
			'footer footer footer footer footer footer';
		grid-gap: 10px;
		grid-auto-flow: row;
		background-color: mediumaquamarine;
		padding: 10px;
        
    }
}